<!DOCTYPE html>
<html>
<head>
    <title>在线刷新CDN资源</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="well container" style="margin-top: 100px">
    <div class="pc-center">
        <h1 class="layui-bg-blue layui-anim layui-anim-up">&emsp;CDN域名资源刷新<a href="/logout" style="float: right;color: #761c19">注销&emsp;</a></h1>
        <ul class="nav nav-tabs layui-anim layui-anim-up">
            <li role="presentation" class="active"><a href={{ url_for('dashboard') }}>刷新页</a></li>
            <li role="presentation"><a href={{ url_for('select') }}>查询页</a></li>
        </ul>
        <form class="layui-form" action="" method="post" id="msg" style="margin-top: 20px">
            <div>
                <div style="float: left" class="layui-anim layui-anim-up">
                  <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">URL:</label>
                    <div class="layui-input-block">
                      <textarea id="domain" placeholder="多个域名以回车分隔" class="layui-textarea" style="width:300px;height: 150px;border:1px solid blue"></textarea>
                    </div>
                  </div>
                  <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">DIR:</label>
                    <div class="layui-input-block">
                      <textarea id="dir" placeholder="多个目录以回车分隔" class="layui-textarea" style="width:300px;height: 150px;border:1px solid blue"></textarea>
                    </div>
                  </div>
                </div>
                <div style="color:red;float: left;margin-left: 100px;margin-top: 30px" class="layui-anim layui-anim-up">
                   <h5>使用说明：</h5>
                   <ul style="margin-left:30px">
                       <li style="list-style-type:circle">URL和DIR至少有一个必须有值，可以都有值；</li>
                       <li style="list-style-type:circle">多个URL和DIR都以回车分隔</li>
                       <li style="list-style-type:circle">URL和DIR都要包含域名</li>
                   </ul>
                   <h5>使用实例：</h5>
                   <ul style="margin-left:30px">
                       <li style="list-style-type:circle">URL可为：<br/> http://abc.go.com/index.html </li>
                       <li style="list-style-type:circle">DIR可为：<br/> http://www.abc.com/imgs/ </li>
                       <li style="list-style-type:circle">URL和DIR的域名，包含http://。如要刷新的URL(http://abc.go.com/index.html)：<br/> 为： http://abc.go.com/index.html </li>
                   </ul>
                </div>
                <div class="layui-form-item layui-anim layui-anim-up">
                  <div class="layui-input-block">
                    <button type="button" onclick="a()" class="layui-btn layui-btn-normal layui-btn-radius" lay-filter="formDemo" style="margin-left: 100px;margin-top: 50px">刷 新</button>
                    <button type="reset" class="layui-btn layui-btn-radius" style="margin-left: 100px;margin-top: 50px">重 置</button>
                  </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../static/layui/layui.all.js"></script>
<script src="../static/jquery-3.2.1.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script>
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer,form = layui.form;
    });

    function a() {
        var domain = $("#domain").val();
        var dir = $("#dir").val();
        if (domain === "" && dir === "") {
            layer.open({
              title: '错误',
              content: '请输入要刷新的URL文件或者DIR目录！'
            });
            return false;
        }else {
            $.ajax({
                type:'POST',
                url:'/dashboard',
                data:{'domain':domain,'dir':dir},
                dataType:'JSON',
{#                beforeSend:function () {#}
{#                    $("$msg").text("");#}
{#                    var target = $("#msg").get(0);#}
{#                    spinner.spin(target);#}
{#                },#}
                success:function (data) {
                    if (data['status'] === "OK"){
                        layer.open({
                            title: '提交成功',
                            content: '请到查询页查询单号刷新的进度！<hr>您的单号是：【' + data['task_id'] + '】'
                        });
                        return false;
                    }else {
                        layer.open({
                            title: '提交失败',
                            content: '刷新失败!'
                        });
                        return false;
                    }
                },
                error:function (e,jqxhr,settings,exception) {
                    layer.open({
                            title: '错误',
                            content: 'AJAX ERROR!'
                        });
                        return false;
                }
            });
        }
    }
</script>
</body>
</html>
