<!DOCTYPE html>
<html>
<head>
    <title>在线刷新CDN资源</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="well container" style="margin-top: 100px">
    <div class="pc-center">
        <h1 class="layui-bg-blue layui-anim layui-anim-up">&emsp;CDN域名资源刷新<a href="/logout" style="float: right;color: #761c19">注销&emsp;</a></h1>
        <ul class="nav nav-tabs layui-anim layui-anim-up">
            <li role="presentation"><a href={{ url_for('dashboard') }}>刷新页</a></li>
            <li role="presentation" class="active"><a href={{ url_for('select') }}>查询页</a></li>
        </ul>
        <form class="layui-form" action="/select" method="post" id="msg" style="margin-top: 20px">
            <div class="layui-form-item layui-form-text">
                <div class="layui-input-block layui-anim layui-anim-up">
                    <input name="danhao" placeholder="请输入单号:" class="layui-input" style="width:300px;float: left">
                    <button type="submit" class="layui-btn layui-btn-normal layui-btn-radius" lay-filter="formDemo" style="margin-left: 100px">查 询</button>
                    <button type="reset" class="layui-btn layui-btn-radius" style="margin-left: 100px">重 置</button>
                </div>
            </div>
        </form>
        <table class="layui-table layui-anim layui-anim-up">
          <colgroup>
            <col width="150">
            <col width="200">
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>单号</th>
              <th>用户</th>
              <th>提交时间</th>
              <th>刷新链接</th>
              <th>刷新进度</th>
            </tr>
          </thead>
        {% if data == "none" %}
            <hr>
        {% else %}
            <tbody>
            {% for info in data %}
            <tr>
              <td>{{ info.RefreshTaskId }}</td>
              <td>{{ info.user }}</td>
              <td>{{ info.creat_time }}</td>
              <td>{{ info.url_dir }}</td>
              <td>{{ info.Process }}</td>
            </tr>
            {% endfor %}
          </tbody>
        {% endif %}
        </table>
    </div>
</div>
</body>
</html>
